@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>This website is for user to come and learn about different vape juices and there experiences with them.
    The purpose is to hopefully connect people with different juices they will like.</p>
