@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    1003 Humphrey Rd<br />
    Jacksonville, NC 28590<br />
    <abbr title="Phone">P:</abbr>
    470.309.9269
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:alex.gehn@outlook.com">alex.gehn@outlook.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:alex.gehn@outlook.com">alex.gehn@outlook.com</a>
</address>