@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>The Vape Review</h1>
    <p class="lead">Discover your flavors, and help other find new choices</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <nav>
            <ul>
                <li><a href="#">Reviews</a></li>
                <li><a href="#">Flavors</a></li>
                <li><a href="#">Brands</a></li>
            </ul>
</div>