@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>The Vape Review</h1>
    <p class="lead">Discover your flavors, and help other find new choices</p>
</div>

<style>
    img {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
</style>

<div class="row">
    <div class="col-md-4">
        <img src="\Content\vapejuice.jfif" style="width:50%"; />
        <h2>Getting started</h2>
        <nav>
            <ul>
                <li><a href="#">Reviews</a></li>
                <li><a href="#">Flavors</a></li>
                <li><a href="#">Brands</a></li>
            </ul>
        </nav>
    </div>
</div>
