@{
    ViewBag.Title = "Home Page";
}

<body background="~/Content/sky.jpg">
    <div style= "background:darkblue" class="jumbotron">
        <h1><font color="white">The Vape Review</font></h1>
        <p class="lead"><font color="white">Discover your flavors, and help other find new choices</font></p>
    </div>

    <div class="row">
        <img src="~/Content/Vapejuice Wild.jpg" align="middle">
        <img src="~/Content/vapejice row.jpg" align="right" width="200">
        <div class="col-md-4">
            <
            <h2 style="color:Black;">Navigation</h2>
            <nav>
                <ul>
                    <li><a href="~/Views/Reviews/Index"><h2 style="color:Black;">Reviews</h2></a></li>
                    <li><a href="#"><h2 style="color:Black;">Flavors</h2></a></li>
                    <li><a href="#"><h2 style="color:Black;">Brands</h2></a></li>
                </ul>

            </nav>
        </div>
    </div>
</body>
